@import url('https://fonts.googleapis.com/css?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Scada&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@font-face {font-family: "Liana";
    src: url("https://atamas.online/font/d937f3b491c0fd88b0e51c8cc78ac6aa.eot"); /* IE9*/
    src: url("https://atamas.online/font/d937f3b491c0fd88b0e51c8cc78ac6aa.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://atamas.online/font/d937f3b491c0fd88b0e51c8cc78ac6aa.woff2") format("woff2"), /* chrome firefox */
    url("https://atamas.online/font/d937f3b491c0fd88b0e51c8cc78ac6aa.woff") format("woff"), /* chrome firefox */
    url("https://atamas.online/font/d937f3b491c0fd88b0e51c8cc78ac6aa.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://atamas.online/font/d937f3b491c0fd88b0e51c8cc78ac6aa.svg#Liana") format("svg"); /* iOS 4.1- */
}
h3 {
	font-family: 'Playfair Display', serif !important;
}
h2 {
	font-family: 'Playfair Display', serif !important;

}
h4 {
	font-family: 'Playfair Display', serif !important;
}

body {
	color: #0a0a0a;
	font-size: 18px;
	font-family: 'Scada', sans-serif;
	font-weight: 700;
	line-height:1.625;
	overflow-x:hidden;
}

p{
	font-weight: 100 !important;
    font-family: initial !important;
}
ul{
	list-style-type:none;
	margin:0;
	padding:0
	}
	a:hover{
		text-decoration:none}
		button
		{cursor:pointer

			}
			button:focus
			{outline:0;
				box-shadow:none
				}
				h1
				{	font-family: 'Liana';



				line-height:1.2
				}
				h1,.h1
				{font-size:45px;
					font-weight:500
					}
					h2,.h2
					{font-size:30px;
						font-weight:300
						}
						@media (min-width: 800px)
						{
							h2,.h2{
								font-size:40px}
								}
								@media (min-width: 1000px)
								{
									h2,.h2{
										font-size:38px
										}
										}
										a{
											display:inline-block
											}
											.dropdown:hover>.dropdown-menu{display:block;top:96%}.owl-carousel .owl-stage{display:flex}.section-margin{margin:50px 0}@media (min-width: 1000px){.section-margin{margin:80px 0}}@media (min-width: 1250px){.section-margin{margin:120px 0}}.section-margin--large{margin:50px 0}@media (min-width: 1000px){.section-margin--large{margin:80px 0}}@media (min-width: 1250px){.section-margin--large{margin:130px 0}}.section-padding{padding:50px 0}@media (min-width: 1000px){.section-padding{padding:80px 0}}@media (min-width: 1250px){.section-padding{padding:120px 0}}.section-padding--large{padding:130px 0}.pb-70px{padding-bottom:45px}@media (min-width: 1000px){.pb-70px{padding-bottom:70px}}@media (min-width: 768px){.gutters-48{margin-right:-24px;margin-left:-24px}.gutters-48>[class*="col-"]{padding-right:24px;padding-left:24px}}.bg-soapstone{background:#ffcdd2}.is-sticky .header_area .main_menu .main_box{max-width:100%;margin-top:0;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s}@media (max-width: 991.98px){.is-sticky .header_area .main_menu .main_box{padding:15px 0}}.sticky-wrapper{position:absolute;top: 0px;width:100%;}@media (max-width: 991px){.sticky-wrapper{top:0}}.header_area{position:absolute;width:100%;top:0;left:0;z-index:99;transition:background 0.4s, all 0.3s linear;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s}.header_area .main_menu .main_box{background:#fff;margin:0px auto 0;box-shadow:0px 10px 20px 0px rgba(58,65,78,0.1);-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s}.header_area .navbar{background:#fff;padding:0px;border:0px;border-radius:0px}@media (max-width: 991.98px){.header_area .navbar{padding:15px 0}}@media (max-width: 991px){.header_area .navbar .navbar-collapse{margin-top:30px}.header_area .navbar .navbar-collapse .nav-item{padding:10px}}.header_area .navbar .navbar-toggler .icon-bar{color:#000;height:2px;width:20px;content:"";background:#000;display:block;margin:5px}.header_area .navbar .nav .nav-item{margin-right:50px}.header_area .navbar .nav .nav-item .dropdown-item{font-family:"Josefin Sans",sans-serif}.header_area .navbar .nav .nav-item .dropdown-item.active{background:#99513a}.header_area .navbar .nav .nav-item .nav-link{/* font-family:"Josefin Sans",sans-serif; */text-transform:capitalize;padding:0px;display:inline-block;font-size:18px;color:#3a414e;}@media (min-width: 991px){.header_area .navbar .nav .nav-item .nav-link{padding:26px 0}}.header_area .navbar .nav .nav-item .nav-link:after{display:none}.header_area .navbar .nav .nav-item:hover .nav-link,.header_area .navbar .nav .nav-item.active .nav-link{color:#99513a}.header_area .navbar .nav .nav-item.submenu{position:relative}.header_area .navbar .nav .nav-item.submenu ul{border:none;padding:0px;border-radius:0px;box-shadow:none;margin:0px;background:#fff}@media (min-width: 992px){.header_area .navbar .nav .nav-item.submenu ul{position:absolute;top:100%;left:0px;min-width:200px;text-align:left;opacity:0;-webkit-transition:visibility 0.5s ease;-moz-transition:visibility 0.5s ease;-o-transition:visibility 0.5s ease;transition:visibility 0.5s ease;visibility:hidden;display:block}}.header_area .navbar .nav .nav-item.submenu ul:before{content:"";width:0;height:0;border-style:solid;border-width:10px 10px 0 10px;border-color:#eeeeee transparent transparent transparent;position:absolute;right:24px;top:45px;z-index:3;opacity:0;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s}.header_area .navbar .nav .nav-item.submenu ul .nav-item{display:block;float:none;margin-right:0px;border-bottom:1px solid #ededed;margin-left:0px;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s}.header_area .navbar .nav .nav-item.submenu ul .nav-item.active{background:#99513a}.header_area .navbar .nav .nav-item.submenu ul .nav-item.active .nav-link{color:#fff}.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link{line-height:45px;padding:0px 30px;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;display:block;margin-right:0px}.header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child{border-bottom:none}.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link{background:#99513a;color:#fff}@media (min-width: 992px){.header_area .navbar .nav .nav-item.submenu:hover ul{visibility:visible;opacity:1}}.header_area .navbar .nav .nav-item.submenu:hover ul .nav-item{margin-top:0px}.header_area .navbar .nav .nav-item:last-child{margin-right:0px; }@media (min-width: 991px){.header_area .navbar .nav.navbar-nav.navbar-right{display:-webkit-inline-box}}.header_area .navbar .nav.navbar-nav.navbar-right li{margin-left:25px;margin-right:0px}@media (max-width: 991px){.header_area .navbar .nav.navbar-nav.navbar-right li{margin-left:0px}}.header_area .navbar .nav.navbar-nav.navbar-right li:first-child{margin-left:35px}@media (max-width: 991px){.header_area .navbar .nav.navbar-nav.navbar-right li:first-child{display:none}}.header_area .navbar .nav.navbar-nav.navbar-right li span{color:#3a414e;line-height:80px;font-weight:500}.header_area .navbar .nav.navbar-nav.navbar-right .search{background:transparent;border:0;cursor:pointer;padding:0}@media (max-width: 575px){.navbar-expand-lg>.container,.navbar-expand-lg>.container-fluid{padding:0px 15px}}.header_area{z-index:9999 !important}.banner-area{position:relative;height:380px;z-index:1}@media (min-width: 1000px){.banner-area{height:520px}}.banner-area::after{content:"";display:block;background:rgba(5,10,52,0.6);position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1}.banner-area.contact{background:url(../img/banner/blog.png) left center no-repeat;background-size:cover}.banner-area.about{background:url(../img/banner/blog.png) left center no-repeat;background-size:cover}.banner-area.service{background:url(../img/banner/blog.png) left center no-repeat;background-size:cover}.banner-area.team{background:url(../img/banner/blog.png) left center no-repeat;background-size:cover}.banner-area.pricing{background:url(../img/banner/blog.png) left center no-repeat;background-size:cover}.banner-area__content{position:absolute;width:100%;top:50%;left:50%;transform:translate(-50%, -50%);margin-top:70px}.banner-area__content h1{font-size:50px;font-weight:600;margin-bottom:2px;color:#fff}.banner-breadcrumb{display:inline-block}.banner-breadcrumb .breadcrumb{background:transparent;padding:0}.banner-breadcrumb .breadcrumb-item{padding:.1rem}.banner-breadcrumb .breadcrumb-item a{text-transform:capitalize;color:#fff}.banner-breadcrumb .breadcrumb-item+.breadcrumb-item::before{color:#fff;padding-right:.1rem}.banner-breadcrumb .breadcrumb-item.active{color:#fff}.hero-banner{background:#ffcdd2}@media (min-width: 1200px){.hero-banner__img{position:absolute;top:0;left:-120px}}.hero-banner__content{padding-top:38px;padding-bottom:50px;margin-top: -40px;}@media (min-width: 768px){.hero-banner__content{padding-top:120px}}@media (min-width: 991px){.hero-banner__content{padding-top:195px}}@media (min-width: 1200px){.hero-banner__content{padding-top:295px;padding-bottom:195px}}.hero-banner__content h1{font-size:28px;margin-bottom:25px;}@media (min-width: 991px){.hero-banner__content h1{font-size:50px}}.hero-banner__content p{margin-bottom:35px}.hero-banner__video{background:url(../img/home/play-icon.png) left center no-repeat;margin-left:25px;padding:12px 5px 12px 45px !important}.hero-banner__video img{margin-right:10px}.section-intro__title{font-size:20px;color:#99513a;padding-left:80px;position:relative;margin-bottom:10px}.section-intro__title::after{content:"";display:block;height:1px;min-width:65px;background-color:#3a414e;position:absolute;top:50%;left:0;transform:translateY(-50%)}.card-feature{border-color:transparent;border-radius:0;padding:25px 16px 35px 16px;background:#fff9f7;transition:all .4s ease}.card-feature.border-style{position:relative}.card-feature.border-style::after{content:"";display:block;width:100%;height:100%;background:transparent;border:10px solid #F7F7F7;position:absolute;top:-20px;left:20px;z-index:-1}.card-feature__icon{display:inline-block;line-height:80px}.card-feature__icon i,.card-feature__icon span{color:#99513a;font-size:60px}.card-feature__icon [class^="flaticon-"]:before,.card-feature__icon [class*=" flaticon-"]:before,.card-feature__icon [class^="flaticon-"]:after,.card-feature__icon [class*=" flaticon-"]:after{font-size:60px}.card-feature__title{font-size:20px;font-weight:600}.card-feature:hover{background:#fff;border-color:#E0CAC4}.card-feature:hover i,.card-feature:hover span{color:#3a414e}.card-feature:hover [class^="flaticon-"]:before,.card-feature:hover [class*=" flaticon-"]:before,.card-feature:hover [class^="flaticon-"]:after,.card-feature:hover [class*=" flaticon-"]:after{color:#3a414e}.card-service{border-color:transparent;border-radius:0;padding:40px 38px 35px 38px;background:#fff9f7;transition:all .4s ease}.card-service-wrapper [class*="col-"]:nth-child(even){margin-top:50px}.card-service-wrapper [class*="col-"]:last-child{margin-top:100px}.card-service.border-style{position:relative}.card-service.border-style::after{content:"";display:block;width:100%;height:100%;background:transparent;border:10px solid #F7F7F7;position:absolute;top:-20px;left:20px;z-index:-1}.card-service__icon{display:inline-block;line-height:80px}.card-service__icon i,.card-service__icon span{color:#99513a;font-size:90px}.card-service__icon [class^="flaticon-"]:before,.card-service__icon [class*=" flaticon-"]:before,.card-service__icon [class^="flaticon-"]:after,.card-service__icon [class*=" flaticon-"]:after{font-size:90px}.card-service__title{font-size:20px;font-weight:600;margin-bottom:18px;margin-top:15px}.card-service p{margin-bottom:42px}.card-service:hover{background:#fff;border-color:#E0CAC4}.card-service:hover i,.card-service:hover span{color:#3a414e}.card-service:hover [class^="flaticon-"]:before,.card-service:hover [class*=" flaticon-"]:before,.card-service:hover [class^="flaticon-"]:after,.card-service:hover [class*=" flaticon-"]:after{color:#3a414e}.card-service:hover .button{background-color:#3a414e;border-color:#3a414e;color:#fff}.about-wrapper{overflow:hidden}@media (min-width: 1200px){.about-wrapper{padding-top:75px;padding-bottom:50px}}.about__img{position:relative}@media (min-width: 1200px){.about__img{left:165px}}.about__img--small{position:absolute;bottom:-55px;right:50px}@media (min-width: 992px){.about__img--small{left:-180px}}@media (min-width: 992px){.about__content{margin-top:60px}}.about__content p{margin-top:18px;margin-bottom:35px}.video-area{background:url("../img/home/video-bg.png") left center no-repeat;background-size:cover;padding:50px 10px;position:relative;z-index:1}@media (min-width: 750px){.video-area{padding:90px 10px}}@media (min-width: 1000px){.video-area{padding:190px 10px}}.video-area::after{content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(5,10,52,0.7);z-index:-1}.video-area h3{font-family:"Roboto Condensed",sans-serif;font-size:30px;color:#fff;font-weight:700;margin-bottom:20px}@media (min-width: 1000px){.video-area h3{margin-bottom:50px}}@media (min-width: 600px){.video-area h3{font-size:42px}}.video-area p{font-size:15px;font-weight:300;color:#fff;margin-bottom:0;margin-top:30px}.video-play-button{position:relative;box-sizing:content-box;display:inline-block;width:32px;height:44px;border-radius:50%;padding:46px 8px 18px 28px;transform:scale(0.8)}.video-play-button img{width:24px;height:24px;position:absolute;z-index:2;top:50%;left:50%;transform:translate(-50%, -50%)}@media (min-width: 800px){.video-play-button{transform:scale(1);margin-bottom:10px}}.video-play-button:before,.video-play-button:after{content:"";position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);transform:translate(-50%, -50%);display:block;width:100px;height:100px;border-radius:50%;background:linear-gradient(90deg, #fff 0%, #fff 100%)}.video-play-button:before{z-index:0;-webkit-animation:pulse-border 2000ms ease-out infinite;-moz-animation:pulse-border 2000ms ease-out infinite;-o-animation:pulse-border 2000ms ease-out infinite;animation:pulse-border 2000ms ease-out infinite}.video-play-button:after{z-index:1;-webkit-transition:all 200ms ease;-moz-transition:all 200ms ease;-o-transition:all 200ms ease;transition:all 200ms ease}.video-play-button span{display:block;position:relative;z-index:3;width:0;height:0;border-left:16px solid #99513a;border-top:8px solid transparent;border-bottom:8px solid transparent}.video-play-button:hover:after{background-color:#743d2c}@-webkit-keyframes pulse-border{0%{-webkit-transform:translate(-50%, -50%) translateZ(0) scale(1);-moz-transform:translate(-50%, -50%) translateZ(0) scale(1);-ms-transform:translate(-50%, -50%) translateZ(0) scale(1);-o-transform:translate(-50%, -50%) translateZ(0) scale(1);transform:translate(-50%, -50%) translateZ(0) scale(1);opacity:0.7}100%{-webkit-transform:translate(-50%, -50%) translateZ(0) scale(1.5);-moz-transform:translate(-50%, -50%) translateZ(0) scale(1.5);-ms-transform:translate(-50%, -50%) translateZ(0) scale(1.5);-o-transform:translate(-50%, -50%) translateZ(0) scale(1.5);transform:translate(-50%, -50%) translateZ(0) scale(1.5);opacity:0.1}}@-moz-keyframes pulse-border{0%{-webkit-transform:translate(-50%, -50%) translateZ(0) scale(1);-moz-transform:translate(-50%, -50%) translateZ(0) scale(1);-ms-transform:translate(-50%, -50%) translateZ(0) scale(1);-o-transform:translate(-50%, -50%) translateZ(0) scale(1);transform:translate(-50%, -50%) translateZ(0) scale(1);opacity:0.7}100%{-webkit-transform:translate(-50%, -50%) translateZ(0) scale(1.5);-moz-transform:translate(-50%, -50%) translateZ(0) scale(1.5);-ms-transform:translate(-50%, -50%) translateZ(0) scale(1.5);-o-transform:translate(-50%, -50%) translateZ(0) scale(1.5);transform:translate(-50%, -50%) translateZ(0) scale(1.5);opacity:0.1}}@-o-keyframes pulse-border{0%{-webkit-transform:translate(-50%, -50%) translateZ(0) scale(1);-moz-transform:translate(-50%, -50%) translateZ(0) scale(1);-ms-transform:translate(-50%, -50%) translateZ(0) scale(1);-o-transform:translate(-50%, -50%) translateZ(0) scale(1);transform:translate(-50%, -50%) translateZ(0) scale(1);opacity:0.7}100%{-webkit-transform:translate(-50%, -50%) translateZ(0) scale(1.5);-moz-transform:translate(-50%, -50%) translateZ(0) scale(1.5);-ms-transform:translate(-50%, -50%) translateZ(0) scale(1.5);-o-transform:translate(-50%, -50%) translateZ(0) scale(1.5);transform:translate(-50%, -50%) translateZ(0) scale(1.5);opacity:0.1}}@keyframes pulse-border{0%{-webkit-transform:translate(-50%, -50%) translateZ(0) scale(1);-moz-transform:translate(-50%, -50%) translateZ(0) scale(1);-ms-transform:translate(-50%, -50%) translateZ(0) scale(1);-o-transform:translate(-50%, -50%) translateZ(0) scale(1);transform:translate(-50%, -50%) translateZ(0) scale(1);opacity:0.7}100%{-webkit-transform:translate(-50%, -50%) translateZ(0) scale(1.5);-moz-transform:translate(-50%, -50%) translateZ(0) scale(1.5);-ms-transform:translate(-50%, -50%) translateZ(0) scale(1.5);-o-transform:translate(-50%, -50%) translateZ(0) scale(1.5);transform:translate(-50%, -50%) translateZ(0) scale(1.5);opacity:0.1}}.card-team{background:transparent;border:0;border-radius:0}.card-team__img{position:relative;overflow:hidden}.card-team__img::after{content:"";display:block;width:100%;height:100%;background:rgba(1,8,21,0.4);position:absolute;bottom:0;transform:translateY(80px);opacity:0;z-index:-1;transition:all .6s ease}@media (min-width: 1200px){.card-team__position{margin-left:25px}}.card-team .card-footer{border:0;padding:20px;background:#fff}@media (min-width: 1200px){.card-team .card-footer{padding:33px 30px}}.card-team__bio h4{font-size:20px;color:#3a414e;font-weight:600;margin-bottom:6px}.card-team__bio h4 a{color:#3a414e;transition:color .4s ease}.card-team__bio p{font-size:15px;margin-bottom:0}.card-team__social li{display:inline-block}.card-team__social li a{font-size:13px;color:#3a414e;transition:color .4s ease}.card-team__social li a:hover{color:#99513a}.card-team__social li::after{content:"|";margin:0 10px}.card-team__social li:last-child::after{display:none}.card-team:hover .card-team__img::after{transform:translateY(0);opacity:1;z-index:1}.card-team:hover .card-team__bio h4{color:#99513a}.card-team:hover .card-team__bio h4 a{color:#99513a}.card-pricing{border-color:transparent;border-radius:0;background:#fff9f7;transition:all .4s ease}.card-pricing.border-style{position:relative}.card-pricing.border-style::after{content:"";display:block;width:100%;height:100%;background:transparent;border:10px solid #F7F7F7;position:absolute;top:-17px;left:17px;z-index:-1}.card-pricing__header{padding:35px 0}.card-pricing__header h3{font-size:20px;font-weight:600;margin-bottom:0}.card-pricing__header p{margin-bottom:0}.card-pricing__price{background:#f7f7f7;padding:25px 0}.card-pricing__price h2{margin:0;font-size:36px;font-weight:700;transition:all .4s ease}.card-pricing__list{margin:30px 0}.card-pricing__list li{color:#797979;margin-bottom:8px}.card-pricing:hover{background:#fff;border-color:#E0CAC4}.card-pricing:hover i,.card-pricing:hover span{color:#3a414e}.card-pricing:hover [class^="flaticon-"]:before,.card-pricing:hover [class*=" flaticon-"]:before,.card-pricing:hover [class^="flaticon-"]:after,.card-pricing:hover [class*=" flaticon-"]:after{color:#3a414e}.card-pricing:hover .button{background-color:#3a414e;border-color:#3a414e;color:#fff}.card-pricing:hover .card-pricing__price h2{color:#99513a}.card-blog{border:0;background:transparent;background:transparent}.card-blog__info{margin-bottom:15px}.card-blog__info li{display:inline-block;font-size:14px;color:#777777;margin-right:35px}.card-blog__info li:last-child{margin-right:0}.card-blog__info li a{color:#777777}.card-blog__info li i,.card-blog__info li span{font-size:12px;color:#777777;margin-right:10px}.card-blog__title{font-size:20px;font-weight:600;color:#3a414e;margin-bottom:13px}.card-blog__title a{color:#3a414e;transition:all .4s ease}.card-blog__link{font-size:16px;color:#3a414e;position:relative}.card-blog__link::after{content:"";display:inline-block;min-width:54px;height:1px;background-color:#3a414e;position:absolute;top:50%;margin-left:10px}.card-blog .card-body{background:#fff9f7;padding:32px 30px;border:1px solid transparent;border-top:0;transition:all .4s ease}.card-blog .card-body p{margin-bottom:22px}.card-blog:hover .card-body{background:#fff;border-color:#E0CAC4}.card-blog:hover .card-blog__link,.card-blog:hover .card-blog__title a{color:#99513a}.card-blog:hover .card-blog__link::after{background-color:#99513a}.testimonial{background:url("../img/home/testimonial-bg.png") left center no-repeat;background-size:cover;padding:100px 0 115px 0;position:relative}@media (min-width: 991px){.testimonial{padding:260px 0 215px 0}}@media (min-width: 991px){.testimonial-position{position:relative;bottom:260px;margin-bottom:-260px;z-index:5}}.testimonial::after{content:"";display:block;background:rgba(5,10,52,0.7);position:absolute;width:100%;height:100%;top:0;left:0}.testi_slider{max-width:950px;margin-right:auto;margin-left:auto;position:relative}.testi_slider::after{content:"";display:block;width:100%;height:80%;border:1px solid #fff;border-radius:4px;position:absolute;top:60px;z-index:-1}.testi_slider .testi_item{text-align:center}.testi_slider .testi_item img{width:auto;margin:auto}.testi_slider .testi_item p{color:#fff}.testi_slider .testi_item p i,.testi_slider .testi_item p span{font-size:30px;color:#525869;position:relative;bottom:4px;right:3px}.testi_slider .testi_item_content{padding:25px 10px}@media (min-width: 991px){.testi_slider .testi_item_content{padding:25px 65px}}.testi_slider .testi_item_content h4{font-size:20px;color:#fff;font-weight:600;margin-bottom:0}.testi_slider .testi_item_content p{font-size:14px}.testi_slider .owl-dots{position:absolute;width:100%;text-align:center;bottom:-45px;margin:0}@media (min-width: 991px){.testi_slider .owl-dots{bottom:-95px}}.testi_slider .owl-dots .owl-dot span{background:rgba(255,255,255,0.6);margin:5px 10px}.testi_slider .owl-dots .owl-dot.active span{width:12px;height:12px;background:#fff}.pricing-relative{position:relative;z-index:50}.blog-bg{background:#f9f9ff}.l_blog_item .l_blog_text .date{margin-top:24px;margin-bottom:15px}.l_blog_item .l_blog_text .date a{font-size:12px}.l_blog_item .l_blog_text h4{font-size:18px;color:#3a414e;border-bottom:1px solid #eeeeee;margin-bottom:0px;padding-bottom:20px;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s}.l_blog_item .l_blog_text h4:hover{color:#99513a}.l_blog_item .l_blog_text p{margin-bottom:0px;padding-top:20px}.causes_slider .owl-dots{text-align:center;margin-top:80px}.causes_slider .owl-dots .owl-dot{height:14px;width:14px;background:#eeeeee;display:inline-block;margin-right:7px}.causes_slider .owl-dots .owl-dot:last-child{margin-right:0px}.causes_slider .owl-dots .owl-dot.active{background:#99513a}.causes_item{background:#fff}.causes_item .causes_img{position:relative}.causes_item .causes_img .c_parcent{position:absolute;bottom:0px;width:100%;left:0px;height:3px;background:rgba(255,255,255,0.5)}.causes_item .causes_img .c_parcent span{width:70%;height:3px;background:#99513a;position:absolute;left:0px;bottom:0px}.causes_item .causes_img .c_parcent span:before{content:"75%";position:absolute;right:-10px;bottom:0px;background:#99513a;color:#fff;padding:0px 5px}.causes_item .causes_text{padding:30px 35px 40px 30px}.causes_item .causes_text h4{color:#3a414e;font-size:18px;font-weight:600;margin-bottom:15px;cursor:pointer}.causes_item .causes_text h4:hover{color:#99513a}.causes_item .causes_text p{font-size:14px;line-height:24px;font-weight:300;margin-bottom:0px}.causes_item .causes_bottom a{width:50%;border:1px solid #99513a;text-align:center;float:left;line-height:50px;background:#99513a;color:#fff;font-size:14px;font-weight:500}.causes_item .causes_bottom a+a{border-color:#eeeeee;background:#fff;font-size:14px;color:#3a414e}.latest_blog_area{background:#f9f9ff}.single-recent-blog-post{margin-bottom:30px}.single-recent-blog-post .thumb{overflow:hidden}.single-recent-blog-post .thumb img{transition:all 0.7s linear}.single-recent-blog-post .details{padding-top:30px}.single-recent-blog-post .details .sec_h4{line-height:24px;padding:10px 0px 13px;transition:all 0.3s linear}.single-recent-blog-post .date{font-size:14px;line-height:24px;font-weight:400}.single-recent-blog-post:hover img{transform:scale(1.23) rotate(10deg)}.tags .tag_btn{font-size:12px;font-weight:500;line-height:20px;border:1px solid #eeeeee;display:inline-block;padding:1px 18px;text-align:center;color:#3a414e}.tags .tag_btn:before{background:#99513a}.tags .tag_btn+.tag_btn{margin-left:2px}.blog_categorie_area{padding-top:80px;padding-bottom:80px}@media (min-width: 1200px){.blog_categorie_area{padding-top:185px;padding-bottom:120px}}.categories_post{position:relative;text-align:center;cursor:pointer}.categories_post img{max-width:100%}.categories_post .categories_details{position:absolute;top:20px;left:20px;right:20px;bottom:20px;background:rgba(34,34,34,0.75);color:#fff;transition:all 0.3s linear;display:flex;align-items:center;justify-content:center}.categories_post .categories_details h5{margin-bottom:0px;font-size:18px;line-height:26px;text-transform:uppercase;color:#fff;position:relative}.categories_post .categories_details p{font-weight:300;font-size:14px;line-height:26px;margin-bottom:0px}.categories_post .categories_details .border_line{margin:10px 0px;background:#fff;width:100%;height:1px}.categories_post:hover .categories_details{background:rgba(153,81,58,0.85)}.blog_item{margin-bottom:40px}.blog_info{padding-top:30px}.blog_info .post_tag{padding-bottom:20px}.blog_info .post_tag a{color:#222;font-size:14px}.blog_info .post_tag a.active{color:#99513a}.blog_info .blog_meta li a{color:#777777;vertical-align:middle;padding-bottom:10px;display:inline-block;font-size:14px}.blog_info .blog_meta li a i{color:#222;font-size:16px;font-weight:600;padding-left:15px;line-height:20px;vertical-align:middle}.blog_info .blog_meta li a:hover{color:#99513a}.blog_post img{max-width:100%}.blog_details{padding-top:20px}.blog_details h2{font-size:24px;line-height:36px;color:#3a414e;font-weight:600;transition:all 0.3s linear}.blog_details h2:hover{color:#99513a}.blog_details p{margin-bottom:26px}.view_btn{font-size:14px;line-height:36px;display:inline-block;color:#3a414e;font-weight:500;padding:0px 30px;background:#fff}.blog_right_sidebar{border:1px solid #eeeeee;background:#fafaff;padding:30px}.blog_right_sidebar .widget_title{font-size:18px;line-height:25px;background:#99513a;text-align:center;color:#fff;padding:8px 0px;margin-bottom:30px}.blog_right_sidebar .search_widget .input-group .form-control{font-size:14px;line-height:29px;border:0px;width:100%;font-weight:300;color:#fff;padding-left:20px;border-radius:45px;z-index:0;background:#99513a}.blog_right_sidebar .search_widget .input-group .form-control.placeholder{color:#212529}.blog_right_sidebar .search_widget .input-group .form-control:-moz-placeholder{color:#fff}.blog_right_sidebar .search_widget .input-group .form-control::-moz-placeholder{color:#fff}.blog_right_sidebar .search_widget .input-group .form-control::-webkit-input-placeholder{color:#fff}.blog_right_sidebar .search_widget .input-group .form-control:focus{box-shadow:none}.blog_right_sidebar .search_widget .input-group .btn-default{position:absolute;right:20px;background:transparent;border:0px;box-shadow:none;font-size:14px;color:#fff;padding:0px;top:50%;transform:translateY(-50%);z-index:1}.blog_right_sidebar .author_widget{text-align:center}.blog_right_sidebar .author_widget h4{font-size:18px;line-height:20px;color:#3a414e;margin-bottom:5px;margin-top:30px}.blog_right_sidebar .author_widget p{margin-bottom:0px}.blog_right_sidebar .author_widget .social_icon{padding:7px 0px 15px}.blog_right_sidebar .author_widget .social_icon a{font-size:14px;color:#3a414e;transition:all 0.2s linear}.blog_right_sidebar .author_widget .social_icon a+a{margin-left:20px}.blog_right_sidebar .author_widget .social_icon a:hover{color:#99513a}.blog_right_sidebar .popular_post_widget .post_item .media-body{justify-content:center;align-self:center;padding-left:20px}.blog_right_sidebar .popular_post_widget .post_item .media-body h3{font-size:14px;line-height:20px;color:#3a414e;margin-bottom:4px;font-weight:600;transition:all 0.3s linear}.blog_right_sidebar .popular_post_widget .post_item .media-body h3:hover{color:#99513a}.blog_right_sidebar .popular_post_widget .post_item .media-body p{font-size:12px;line-height:21px;margin-bottom:0px}.blog_right_sidebar .popular_post_widget .post_item+.post_item{margin-top:20px}.blog_right_sidebar .post_category_widget .cat-list li{border-bottom:2px dotted #eee;transition:all 0.3s ease 0s;padding-bottom:12px}.blog_right_sidebar .post_category_widget .cat-list li a{font-size:14px;line-height:20px;color:#777}.blog_right_sidebar .post_category_widget .cat-list li a p{margin-bottom:0px}.blog_right_sidebar .post_category_widget .cat-list li+li{padding-top:15px}.blog_right_sidebar .post_category_widget .cat-list li:hover{border-color:#99513a}.blog_right_sidebar .post_category_widget .cat-list li:hover a{color:#99513a}.blog_right_sidebar .newsletter_widget{text-align:center}.blog_right_sidebar .newsletter_widget .form-group{margin-bottom:8px}.blog_right_sidebar .newsletter_widget .input-group-prepend{margin-right:-1px}.blog_right_sidebar .newsletter_widget .input-group-text{background:#fff;border-radius:0px;vertical-align:top;font-size:12px;line-height:36px;padding:0px 0px 0px 15px;border:1px solid #eeeeee;border-right:0px}.blog_right_sidebar .newsletter_widget .input-group-text i{color:#cccccc}.blog_right_sidebar .newsletter_widget .form-control{font-size:12px;line-height:24px;color:#cccccc;border:1px solid #eeeeee;border-left:0px;border-radius:0px}.blog_right_sidebar .newsletter_widget .form-control.placeholder{color:#cccccc}.blog_right_sidebar .newsletter_widget .form-control:-moz-placeholder{color:#cccccc}.blog_right_sidebar .newsletter_widget .form-control::-moz-placeholder{color:#cccccc}.blog_right_sidebar .newsletter_widget .form-control::-webkit-input-placeholder{color:#cccccc}.blog_right_sidebar .newsletter_widget .form-control:focus{outline:none;box-shadow:none}.blog_right_sidebar .newsletter_widget .bbtns{background:#99513a;color:#fff;font-size:12px;line-height:38px;display:inline-block;font-weight:500;padding:0px 24px 0px 24px;border-radius:0}.blog_right_sidebar .newsletter_widget .text-bottom{font-size:12px}.blog_right_sidebar .tag_cloud_widget ul li{display:inline-block}.blog_right_sidebar .tag_cloud_widget ul li a{display:inline-block;border:1px solid #eee;background:#fff;padding:0px 13px;margin-bottom:8px;transition:all 0.3s ease 0s;color:#222;font-size:12px}.blog_right_sidebar .tag_cloud_widget ul li a:hover{background:#99513a;color:#fff}.blog_right_sidebar .br{width:100%;height:1px;background:#eee;margin:30px 0px}.blog-pagination{padding-top:25px;padding-bottom:120px}.blog-pagination .page-link{border-radius:0;font-size:14px}.blog-pagination .page-item{border:none}.page-link{background:transparent;font-weight:400}.blog-pagination .page-item.active .page-link{background-color:#99513a;border-color:transparent;color:#fff}.blog-pagination .page-link{position:relative;display:block;padding:0.5rem 0.75rem;margin-left:-1px;line-height:1.25;color:#8a8a8a;border:none}.blog-pagination .page-link .lnr{font-weight:600}.blog-pagination .page-item:last-child .page-link,.blog-pagination .page-item:first-child .page-link{border-radius:0}.blog-pagination .page-link:hover{color:#fff;text-decoration:none;background-color:#99513a;border-color:#eee}.single-post-area .social-links{padding-top:10px}.single-post-area .social-links li{display:inline-block;margin-bottom:10px}.single-post-area .social-links li a{color:#cccccc;padding:7px;font-size:14px;transition:all 0.2s linear}.single-post-area .social-links li a:hover{color:#99513a}.single-post-area .blog_details{padding-top:26px}.single-post-area .blog_details p{margin-bottom:10px}.single-post-area .quotes{margin-top:20px;margin-bottom:30px;padding:24px 35px 24px 30px;background-color:#fff;box-shadow:-20.84px 21.58px 30px 0px rgba(176,176,176,0.1);font-size:14px;line-height:24px;color:#777;font-style:italic}.single-post-area .arrow{position:absolute}.single-post-area .arrow .lnr{font-size:20px;font-weight:600}.single-post-area .thumb .overlay-bg{background:rgba(0,0,0,0.8)}.single-post-area .navigation-area{border-top:1px solid #eee;padding-top:30px;margin-top:60px}.single-post-area .navigation-area p{margin-bottom:0px}.single-post-area .navigation-area h4{font-size:18px;line-height:25px;color:#3a414e}.single-post-area .navigation-area .nav-left{text-align:left}.single-post-area .navigation-area .nav-left .thumb{margin-right:20px;background:#000}.single-post-area .navigation-area .nav-left .thumb img{-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s}.single-post-area .navigation-area .nav-left .lnr{margin-left:20px;opacity:0;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s}.single-post-area .navigation-area .nav-left:hover .lnr{opacity:1}.single-post-area .navigation-area .nav-left:hover .thumb img{opacity:.5}@media (max-width: 767px){.single-post-area .navigation-area .nav-left{margin-bottom:30px}}.single-post-area .navigation-area .nav-right{text-align:right}.single-post-area .navigation-area .nav-right .thumb{margin-left:20px;background:#000}.single-post-area .navigation-area .nav-right .thumb img{-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s}.single-post-area .navigation-area .nav-right .lnr{margin-right:20px;opacity:0;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s}.single-post-area .navigation-area .nav-right:hover .lnr{opacity:1}.single-post-area .navigation-area .nav-right:hover .thumb img{opacity:.5}@media (max-width: 991px){.single-post-area .sidebar-widgets{padding-bottom:0px}}.comments-area{background:#fafaff;border:1px solid #eee;padding:50px 30px;margin-top:50px}@media (max-width: 414px){.comments-area{padding:50px 8px}}.comments-area h4{text-align:center;margin-bottom:50px;color:#3a414e;font-size:18px}.comments-area h5{font-size:16px;margin-bottom:0px}.comments-area a{color:#3a414e}.comments-area .comment-list{padding-bottom:48px}.comments-area .comment-list:last-child{padding-bottom:0px}.comments-area .comment-list.left-padding{padding-left:25px}@media (max-width: 413px){.comments-area .comment-list .single-comment h5{font-size:12px}.comments-area .comment-list .single-comment .date{font-size:11px}.comments-area .comment-list .single-comment .comment{font-size:10px}}.comments-area .thumb{margin-right:20px}.comments-area .date{font-size:13px;color:#cccccc;margin-bottom:13px}.comments-area .comment{color:#777777;margin-bottom:0px}.comments-area .btn-reply{background-color:#fff;color:#3a414e;padding:5px 18px;font-size:12px;display:block;font-weight:400;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s}.comments-area .btn-reply:hover{background-color:#99513a;color:#fff;font-weight:700}.comment-form{background:#fafaff;text-align:center;border:1px solid #eee;padding:47px 30px 43px;margin-top:50px}.comment-form h4{text-align:center;margin-bottom:50px;font-size:18px;line-height:22px;color:#3a414e}.comment-form .name{padding-left:0px}@media (max-width: 767px){.comment-form .name{padding-right:0px;margin-bottom:1rem}}.comment-form .email{padding-right:0px}@media (max-width: 991px){.comment-form .email{padding-left:0px}}.comment-form .form-control{padding:8px 20px;background:#fff;border:none;border-radius:0px;width:100%;font-size:14px;color:#999999;border:1px solid transparent}.comment-form .form-control:focus{box-shadow:none;border:1px solid #eee}.comment-form .form-control::placeholder{color:#999999}.comment-form textarea.form-control{height:140px;resize:none;color:#999999}.comment-form ::-webkit-input-placeholder{font-size:13px;color:#999999}.comment-form ::-moz-placeholder{font-size:13px;color:#999999}.comment-form :-ms-input-placeholder{font-size:13px;color:#999999}.comment-form :-moz-placeholder{font-size:13px;color:#999999}.form-contact .form-group{margin-bottom:10px}.form-contact .form-group label{font-size:14px;color:#99513a}.form-contact .form-control{border-radius:0;height:40px;padding-left:18px;border-color:#EEEEEE;background:transparent}.form-contact .form-control:focus{outline:0;box-shadow:none}.form-contact .form-control::placeholder{font-size:14px;color:#999999}.form-contact .different-control{height:100% !important}.contact-info__icon{margin-right:20px}.contact-info__icon i,.contact-info__icon span{color:#99513a;font-size:20px}.contact-info .media-body h3{font-size:16px;margin-bottom:0;font-weight:600}.contact-info .media-body h3 a{color:#3a414e}.contact-info .media-body p{color:#797979}.button{display:inline-block;border:1px solid #59565F;font-weight:500;padding:10px 24px;background-color:#59565F;color:#fff;transition:all .4s ease}@media (min-width: 900px){.button{padding:12px 34px}}.button:hover{background-color:#61382b;color:#fff}.button-postComment{font-size:13px;border-radius:5px;padding:12px 50px}.button-hero{box-shadow:0px 10px 20px 0px rgba(58,65,78,0.2)}.button-blog{font-size:14px;font-weight:600;color:#222;background:#fff;border:0;padding:8px 36px}.button-blog:hover{color:#fff}.button-service{padding:6px 32px}.button-pricing{letter-spacing:1px;padding:12px 48px}.button--transparent{background-color:transparent;border:0;color:#3a414e}.button--transparent:hover{background-color:transparent;color:#3a414e}.footer-area{padding:120px 0px 120px;background:#09152b}@media (max-width: 991px){.footer-area{padding:60px 0px}}@media (max-width: 991px){.footer-area .single-footer-widget{margin-bottom:30px}}.footer-area .single-footer-widget p{color:#7b838a}.footer-area .single-footer-widget h4{font-weight:600;color:#fff;margin-bottom:25px}@media (max-width: 1024px){.footer-area .single-footer-widget h4{font-size:20px}}@media (max-width: 991px){.footer-area .single-footer-widget h4{margin-bottom:15px}}.footer-area .single-footer-widget ul li{margin-bottom:10px}.footer-area .single-footer-widget ul li a{-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;color:#7b838a}.footer-area .single-footer-widget ul li a:hover{color:#99513a}.footer-area .single-footer-widget .form-wrap{margin-top:25px}.footer-area .single-footer-widget .form-wrap .info{color:#99513a}.footer-area .single-footer-widget input{height:48px;border:none;width:67% !important;font-weight:400;background:rgba(255,255,255,0.2);color:#fff;padding-left:20px;border-radius:0;font-size:14px;padding:10px}.footer-area .single-footer-widget input:focus{outline:none;box-shadow:none}.footer-area .single-footer-widget input.placeholder{padding-left:10px;color:#7b838a}.footer-area .single-footer-widget input:-moz-placeholder{padding-left:10px;color:#7b838a}.footer-area .single-footer-widget input::-moz-placeholder{padding-left:10px;color:#7b838a}.footer-area .single-footer-widget input::-webkit-input-placeholder{padding-left:10px;color:#7b838a}.footer-area .single-footer-widget .click-btn{color:#3a414e;border-radius:0;border-top-left-radius:0px;border-bottom-left-radius:0px;padding:6px 24px;border:0;background:#fff;position:relative;left:0;text-transform:capitalize}.footer-area .single-footer-widget .click-btn:focus{outline:none;box-shadow:none}@media (max-width: 375px){.footer-area .single-footer-widget .click-btn{margin-top:10px}}@media (min-width: 400px){.footer-area .single-footer-widget .click-btn{left:-50px}}.footer-area .footer-bottom{margin-top:70px}@media (max-width: 991px){.footer-area .footer-bottom{margin-top:20px}}.footer-area .footer-bottom p{color:#fff}.footer-area .footer-bottom p a{color:#99513a}.footer-area .footer-bottom .footer-social{text-align:center}@media (max-width: 991px){.footer-area .footer-bottom .footer-social{text-align:left;margin-top:30px}}.footer-area .footer-bottom .footer-social a{background:rgba(255,255,255,0.15);margin-left:3px;width:32px;color:#fff;display:inline-grid;text-align:center;height:32px;align-content:center;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s}.footer-area .footer-bottom .footer-social a:hover{background:#fff;color:#99513a}.footer-area .footer-bottom .footer-social a i,.footer-area .footer-bottom .footer-social a span{font-size:14px}
											.register-switch {
  height: 32px;
  margin-bottom: 25px;
  padding: 4px;
  background: #99513a;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top, #60a83a, #7dbe52);
  background-image: -moz-linear-gradient(top, #60a83a, #7dbe52);
  background-image: -o-linear-gradient(top, #60a83a, #7dbe52);
  background-image: linear-gradient(to bottom, #60a83a, #7dbe52);
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
}

.register-switch-input {
  display: none;
}

.register-switch-label {
  float: left;
  width: 50%;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.register-switch-input:checked + .register-switch-label {
  font-weight: 500;
  color: #434248;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: white;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
  background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
	.hero-banner__content {
		padding-top: 38px;
		padding-bottom: 50px;
		margin-top: 45px;
	}
	#b1 {
		margin-top: 35px;
	}
	
	body {
		text-align: center !important;
	}
	#s1{
		display:none;
	}
	#s2{
		display:none;
	}
	#s3{
		display:none;
	}
	#s4{
		display:none;
	}
	#s5{
		display:none;
	}
	#v1{
		left: -50% !important;
		overflow: visible !important;
	}
	#v2{
		left: -50% !important;
		overflow: visible !important;
	}
	#v3{
		left: -50% !important;
		overflow: visible !important;
	}
	#v4{
		left: -50% !important;
		overflow: visible !important;
	}
	#v5{
		left: -50% !important;
		overflow: visible !important;
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {

	#b1 {
		margin-top: 35px;

	}
	#s1{
		display:none;
	}
	#s2{
		display:none;
	}
	#s3{
		display:none;
	}
	#s4{
		display:none;
	}
	#s5{
		display:none;
	}.moba2{
		display:none !important;
	}
}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 

	#b1 {
		margin-top: 35px;

		
	}
	#s1{
		display:none;
	}
	#s2{
		display:none;
	}
	#s3{
		display:none;
	}
	#s4{
		display:none;
	}
	#s5{
		display:none;
	}
	.moba2{
		display:none !important;
	}
 }
 @media only screen 
 and (min-device-width : 375px) 
 and (max-device-width : 812px) 
 and (-webkit-device-pixel-ratio : 3)
 and (orientation : portrait) { 
	#b1 {
		margin-top: 35px;

		
	}
	#s1{
		display:none;
	}
	#s2{
		display:none;
	}
	#s3{
		display:none;
	}
	#s4{
		display:none;
	}
	#s5{
		display:none;
	}
	.moba2{
		display:none !important;
	}
  }

  @media only screen 
and (min-device-width : 360px) 
and (max-device-width : 640px) 
and (orientation : portrait) { 

	.moba2{
		display:none !important;
	}
	#b1 {
		margin-top: 35px;

		
	}
	#s1{
		display:none;
	}
	#s2{
		display:none;
	}
	#s3{
		display:none;
	}
	#s4{
		display:none;
	}
	#s5{
		display:none;
	}
 }
 @media (min-width: 1025px) and (max-width: 1580px) {
#gallery {
	display:none;
}
.moba{
	display:none !important;

}

 #b1 {
	margin-left: 35px !important;
	
}

.hero-banner__content {
    margin-top: -50px;

}
.offset-lg-2 { 
margin-left: 10% !important;
}

.mb-lg-0 {
	margin-left: 50px;
}
#card1 {
	margin-top: -260px;
    right: -430px;
}
}
@media (min-width: 825px) and (max-width: 3840px) {
	.moba{
		display:none !important;

	}
	#gallery {
		display:none !important;
	}
	#hero {
		display: none !important;
	}
	#t1{
		padding: 12px 111px !important;
	}
	#t2{
		padding: 12px 133px !important;

	}
	#t3{
		padding: 12px 113px !important;

	}
	#t4{
		padding: 12px 133px !important;

	}
	.mb-lg-0 {
		margin-left: 50px !important;
	}
	#d3{
		margin-bottom: 20px !important;
	}
	#c1{
		top: 55px !important;
	}
	h3 {
		font-family: 'Playfair Display', serif !important;
	}
	h4 {
		font-family: 'Playfair Display', serif !important;

	}
	#r1 {
		margin-top: -110px !important;
		margin-bottom: 120px !important;
	}
	 
}
@media screen and (max-width: 500px) /* Mobile */ {
	#hmain{

	display:none !important;
	
	}
	.moba2{
		display:none !important;
	}
	#ots1{
		margin-bottom: 50px;
	}
	#s1{
		display:none !important;
	}
	#s2{
		display:none !important;
	}
	#s3{
		display:none !important;
	}
	#s4{
		display:none !important;
	}
	#s5{
		display:none !important;
	}
	.img-fluid {
		margin-top: -80px !important;
	}
}
@media only screen and (min-width: 769px) and (max-width: 900px) {
	.moba2{
		display:none !important;
	}
	#s1{
		display:none !important;
	}
	#s2{
		display:none !important;
	}
	#s3{
		display:none !important;
	}
	#s4{
		display:none !important;
	}
	#s5{
		display:none !important;
	}
	#b1{
		display:none !important;
	}
	#hero {
		display:none !important;
	}
	#b1 {
		display: none !important;
	}
	body {
		text-align: center !important;
	}
}

